In [9]:
#https://www.datacamp.com/community/tutorials/sql-interface-within-jupyterlab
#https://pypi.org/project/ipython-sql/
#https://trvrm.github.io/sql-magic.html
%load_ext sql
import pandas as pd

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
#Use this for in memory processing 
#%%sql sqlite://
#Connecting to a specific database
%sql sqlite:///College.db

'Connected: @College.db'

In [52]:
result = %sql SELECT * FROM Apply

 * sqlite:///College.db
Done.

In [38]:
Apply=result.DataFrame() #to convert as a data fraem
result.csv('test.csv')  # To save as a csv file

In [39]:
Apply.head()

   sID     cName    major decision
0  123  Stanford       CS        Y
1  123  Stanford       EE        N
2  123  Berkeley       CS        Y
3  123   Cornell       EE        Y
4  234  Berkeley  biology        N

In [49]:
%%sql
select * from College

 * sqlite:///College.db
Done.

[('Stanford', 'CA', 15000),
 ('Berkeley', 'CA', 36000),
 ('MIT', 'MA', 10000),
 ('Cornell', 'NY', 21000)]